body {
    font-family: Arial, Helvetica, sans-serif;
}

body footer {
    margin-top: 15%;
}

.principal em {
    font-family: italic;
    background: gray;
}

.caixa {
    position: relative;
	width: 100%;
    padding: 0.5em 0;
	margin: 0;
    background: #cccccc;
}

img {
    width: 188px;
    height: 128px;
    padding: 2.5%;
    margin: 0;
}

nav {
	position: absolute;
	top: 63px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
    padding: 5px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: dodgerblue;
	text-decoration: underline;
}

#nav-link {
	text-decoration: none;
	color: #ffffff;
    margin-top: 20px;
}

img {
    width: 95px;
    height: 95px;
}

.create-site {
	list-style: none;
	display: flex;
    justify-content: center;
    padding: 50px;
}

footer {
    margin-top: 5px;
    background: #666666;
    width: 100%;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer1 {
    text-align: center;
}

#link-rodape {
    text-decoration: none;
    color: white;
}

#backHome {
    margin-top: 5px;
    padding: 5px;
}

form {
    width: 50%;
    max-width: 530px;
    background-color: white;
}

#listaComment {
    width: 70%;
    position: relative;
    color: black;
    text-align: center;
    border-radius: 30px solid black;
}

.conteudo-mapa {
    width: 70%;
    padding: 50px;
}

.titulo-mapa {
    color: white;
    text-align: center;
}

.texto-mapa {
    color: white;
    text-align: center;
    padding: 0.2%;
    font-size: 15px;
}

#graf1 {
    width: 220px;
    height: 180px;
}

@media screen and (max-width: 860px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    body footer {
        margin-top: 15%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.5em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        margin-top: 12%;
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 450px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    body footer {
        margin-top: 50%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.2em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 500px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #body footer {
        margin-top: 15%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.2em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        margin-top: 15%;
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 1399px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #body footer {
        margin-top: 22%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.5em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        margin-top: 10%;
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #body footer {
        margin-top: 60%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.5em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        margin-top: 12%;
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}

@media screen and (max-width: 725px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    body footer {
        margin-top: 15%;
    }
    
    .principal em {
        font-family: italic;
        background: gray;
    }
    
    .caixa {
        position: relative;
        width: 100%;
        padding: 0.5em 0;
        margin: 0;
        background: #cccccc;
    }
    
    img {
        width: 188px;
        height: 128px;
        padding: 2.5%;
        margin: 0;
    }
    
    nav {
        position: absolute;
        top: 63px;
        right: 0;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
        padding: 5px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
    }
    
    nav a:hover {
        color: dodgerblue;
        text-decoration: underline;
    }
    
    #nav-link {
        text-decoration: none;
        color: #ffffff;
        margin-top: 20px;
    }
    
    img {
        width: 95px;
        height: 95px;
    }
    
    .create-site {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 50px;
    }
    
    footer {
        margin-top: 12%;
        background: #666666;
        width: 100%;
    }
    
    .rodape {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer1 {
        text-align: center;
    }
    
    #link-rodape {
        text-decoration: none;
        color: white;
    }
    
    #backHome {
        margin-top: 5px;
        padding: 5px;
    }
}